@(form: pl.pej.malpompaaligxilo.semajnfino.SemajnfinoAligxilo)
@import views.html.malpompaaligxilo.fieldvalue

Dziękujemy za wysłanie formularza! Do zobaczenia we Wrocławiu!<br>
Dankon pro via aliĝo! Ĝis revido en Vroclavo!

    <h1>Twoje dane | Viaj datumoj:</h1>
@fieldvalue(form, form.personaNomo)
@fieldvalue(form, form.familiaNomo)
@fieldvalue(form, form.retposxtadreso)
@fieldvalue(form, form.telefonnumero)
@fieldvalue(form, form.urbo)
@fieldvalue(form, form.alveno)
@fieldvalue(form, form.esperanto)
@fieldvalue(form, form.komentoj)