@import pl.pholda.malpompaaligxilo.form.field.calculateField.cost.CostsField
@import pl.pholda.malpompaaligxilo.form.field.DateRangeField
@(field: pl.pholda.malpompaaligxilo.form.Field[_])(implicit form: pl.pholda.malpompaaligxilo.form.FormInstanceJVM[_], lang: pl.pholda.malpompaaligxilo.i18n.Lang = "en")
@import pl.pholda.malpompaaligxilo.form.field.calculateField.ProgressField
@import pl.pholda.malpompaaligxilo.form.field.{CheckboxField, CheckboxTableField, ComputeField, DateField, EmailField, EnumOption, IntField, SelectField, StringField}
@{
    field.`type` match {
        case StringField(false, default) =>
            <input type="text"
                ng-model={"fieldValue['"+field.name+"']"}
                name={field.name}
                class="form-control"
                ng-disabled="submitted"
                placeholder={field.placeholder.map(_(lang)) orNull}
                value={field.value.map(_.toString).orElse(default) orNull}
                required={if (field.required) "required" else null}
                />
        case StringField(true, default) =>
            <textarea
            ng-model={"fieldValue['"+field.name+"']"}
            name={field.name}
            class="form-control"
            ng-disabled="submitted"
            placeholder={field.placeholder.map(_(lang)) orNull}
            required={if (field.required) "required" else null}>{field.value.map(_.toString).orElse(default) orNull}</textarea>
        case IntField(min, max, step) =>
            <input type="number"
                ng-model={"fieldValue['"+field.name+"']"}
                name={field.name}
                class="form-control"
                ng-disabled="submitted"
                placeholder={field.placeholder.map(_(lang)) orNull}
                min={min.map(_.toString) orNull}
                max={max.map(_.toString) orNull}
                step={step.map(_.toString) orNull}
                value={field.value.map(_.toString).orNull}
                required={if (field.required) "required" else null}
                />
        case DateField(minDate, maxDate, yearRange) =>
            <div class="form-group" ng-class="{'has-error': false}">
            <label class="control-label"><i class="fa fa-calendar"></i></label>
                <input class="form-control"
                ng-model={"fieldValue['"+field.name+"']"}
                name="date"
                bs-datepicker=""
                type="text"
                required={if (field.required) "required" else null}
                value={field.value.map(_.toString).orNull}
                placeholder={field.placeholder.map(_(lang)) orNull}
                ng-disabled="submitted"
                data-date-format="yyyy-MM-dd"
                data-model-date-format="yyyy-MM-dd"
                data-min-date={minDate.map(_.toString).orNull}
                data-max-date={maxDate.map(_.toString).orNull}
                />
            </div>
        case DateRangeField(minDate, maxDate, fromPlaceholder, toPlaceholder) =>
            <div class="form-group">
                <div class="form-group col-xs-6">
                <input class="form-control"
                    ng-model={"fieldValue['"+field.name+"'].from"}
                    data-max-date={"{{fieldValue['"+field.name+"'].to || '"+maxDate.map(_.toString).getOrElse("")+"'}}"}
                    data-min-date={minDate.map(_.toString).orNull}
                    data-start-date={minDate.map(_.toString).orNull}
                    placeholder={fromPlaceholder.map(_(lang)).orNull}
                    data-date-format="yyyy-MM-dd"
                    data-model-date-format="yyyy-MM-dd"
                    bs-datepicker="" type="text"/>
                </div>
                <div class="form-group col-xs-6">
                <input class="form-control"
                    ng-model={"fieldValue['"+field.name+"'].to"}
                    data-min-date={"{{fieldValue['"+field.name+"'].from || '"+maxDate.map(_.toString).getOrElse("")+"'}}"}
                    data-max-date={maxDate.map(_.toString).orNull}
                    data-start-date={maxDate.map(_.toString).orNull}
                    placeholder={toPlaceholder.map(_(lang)).orNull}
                    bs-datepicker=""
                    data-date-format="yyyy-MM-dd"
                    data-model-date-format="yyyy-MM-dd"
                    type="text"/>
                </div>
            </div>
        case pf: ProgressField =>
//            <div class="progressField" data-name={field.name}></div>
            <progress
                ng-model={"fieldValue['"+field.name+"']"}
                data-name={field.name}
                ng-disabled="submitted"
                value={pf.value(form).toString}
                max={pf.max(form).toString}
            />
        case costsField: CostsField =>
            <span ng-bind-html={s"computedValue('${field.name}')"}></span>
        case cf: ComputeField[_] =>
            <span>{s"{{computedValue('${field.name}')}}"}</span>
            //TODO ordering@selectField
        case selectField@SelectField(options, size, notSelected, orderingOpt) =>
            <select size={size.toString}
                name={field.name}
                ng-model={"fieldValue['"+field.name+"']"}
                required={if (field.required) "required" else null}
                class="form-control">{notSelected match {
                    case Some(option) =>
                        <option
                        value=""
                        ng-disabled="submitted"
                        >{option.caption(lang)}</option>
                    case None =>
                        null
                }}
                {
                val ordered = orderingOpt match {
                    case Some(ordering) =>
                        options.sortWith(ordering.ordering(selectField))// allOptionsIndexed.toList.sortWith(ordering.ordering(s))
                    case _ =>
                        options
                }
                ordered.map{ option =>
                    <option
                    value={option.value}
                    selected={
                    field.value match {
                        case Some(EnumOption(fval, _)) if fval == option.value => "selected"
                        case _ => null
                    }
                    }
                    ng-disabled="submitted"
                    >{option.caption(lang)}</option>
                }
            }</select>
        case EmailField =>
            <input type="email"
                ng-model={"fieldValue['"+field.name+"']"}
                name={field.name}
                placeholder={field.placeholder.map(_(lang)) orNull}
                class="form-control"
                ng-disabled="submitted"
                value={field.value.map(_.toString).orNull}
                required={if (field.required) "required" else null}/>
        case tfield@CheckboxTableField(rows, cols, disabled, default) if cols.size == 1 =>
            <table data-name={field.name}>{
            rows.map { row =>
                <tr><td>
                <label for={field.name + "-" + row.id}>{row.caption(lang)}</label>
                </td><td>
                <input type="checkbox"
                    class="form-control"
                    id={field.name + "-" + row.id}
                    name={field.name+"[]"}
                    value={row.id + "-" + cols.head.id}
                    ng-disabled="submitted"
                    checked={
                    field.value match {
                        case Some(CheckboxTableField.Result(values))
                            if values.contains((row, cols.head)) => "checked"
                        case _ if !form.isFilled && default => "checked"
                        case _ => null
                    }
                    }
                    ng-model={"fieldValue['"+field.name+"'][]"}
                    />
                </td></tr>
            }
            }</table>
        case tfield@CheckboxTableField(rows, cols, disabled, default) =>
            <table data-name={field.name}>
            <tr><td></td>{
                cols.map { col =>
                    <th>{col.caption(lang)}</th>
                }
            }</tr>
            {
            rows.map { row =>
                <tr><td>
                <label for={field.name + "-" + row.id}>{row.caption(lang)}</label>
                </td>{
                cols.map {col =>
                    <td>{
                        if (!tfield.isDisabled(row, col)) {
                            <input type="checkbox"
                            class="form-control"
                            id={field.name + "-" + col.id + "-" + row.id}
                            name={field.name+"[]"}
                            ng-disabled="submitted"
                            value={row.id + "-" + col.id}
                            checked={
                            field.value match {
                                case Some(CheckboxTableField.Result(values))
                                    if values.contains((row, cols.head)) => "checked"
                                case _ if !form.isFilled && default => "checked"
                                case _ => null
                            }
                            }
                            ng-model={s"fieldValue['${field.name}']['${row.id}-${col.id}']"}
                            />
                        }
                    }
                    </td>
                }}
                </tr>
            }
            }</table>
        case CheckboxField(default) =>
            <input type="checkbox"
                ng-model={"fieldValue['"+field.name+"']"}
                name={field.name}
                checked={
                field.value match {
                    case None if default => "checked"
                    case Some(true) => "checked"
                    case _ => null
                }
                }
                class="form-control"
                ng-disabled="submitted"
                id={field.name}
                required={if (field.required) "required" else null}/>
        case x => Html(s"unrecognized field!! $x")
    }
}