@(field: pl.pholda.malpompaaligxilo.form.Field[_])(implicit form: pl.pholda.malpompaaligxilo.form.FormInstanceJVM[_], lang: pl.pholda.malpompaaligxilo.i18n.Lang = "en")
@import pl.pholda.malpompaaligxilo.form.PrintableComputeFieldValue
@import java.text.DecimalFormat
@import pl.pholda.malpompaaligxilo.i18n.I18nableString
@import form.context.translationProvider
@import pl.pholda.malpompaaligxilo.form.{Field}
@import pl.pholda.malpompaaligxilo.form.field._
@import pl.pholda.malpompaaligxilo.i18n.I18n
@if(field.visible(form)) {
    @{field match {
        case Field(_, _, CustomComputeField(expression), _, _, _, _, _, _) =>
            expression(form) match {
                case Some(i18nable: I18nableString) => Html(i18nable(lang))
                case Some(p: PrintableComputeFieldValue) => Html(p.str(lang, form.context.translationProvider))
                case Some(x) => Html(x.toString)
                case None => Html("")
            }
        case Field(_, _, CheckboxTableField(rows, cols, _, _), _, _, _, _, _, _) =>
            form.fieldValue(field) match {
                case Some(CheckboxTableField.Result(s)) if cols.size > 1 =>
                    if (s.isEmpty) {
                        I18n.t("_nothing_selected)")
                    } else {
                        s.map{
                            case (r, c) => r.caption(lang) + " " + c.caption(lang)
                        }.mkString(", ")
                    }
                case Some(CheckboxTableField.Result(s)) if cols.size == 1 =>
                    if (s.isEmpty) {
                        I18n.t("_nothing_selected")
                    } else {
                        s.map{
                            case (r, c) => r.caption(lang)
                        }.mkString(", ")
                    }
            }
        case _ => form.fieldValue(field).getOrElse("") match {
            case d: Double => new DecimalFormat("#.##").format(d)
            case true => I18n.t("_yes")
            case false => I18n.t("_no")
            case EnumOption(_, caption) => caption(lang)
            case x => x.toString
        }
    }}
}