@import pl.pholda.malpompaaligxilo.form.field.FailureFieldValidation
@(field: pl.pholda.malpompaaligxilo.form.Field[_])(implicit form: pl.pholda.malpompaaligxilo.form.FormInstanceJVM[_], lang: pl.pholda.malpompaaligxilo.i18n.Lang = "en")
@import pl.pholda.malpompaaligxilo.form.validation.errors.BadDateFormatError
@import pl.pholda.malpompaaligxilo.form.validation.errors.NothingSelectedError
@import pl.pholda.malpompaaligxilo.form.validation.errors.RequiredError
@import pl.pholda.malpompaaligxilo.form.validation.errors.CustomError

<div class="form-group" ng-show="@{s"${form.id}-fieldVisible('${field.name}')"}">
    <label for="@field.name" class="col-sm-4 control-label">
        <dl>
            <dt>@field.caption(lang)@if(field.required){<span class="required"> *</span>}@if(field.caption(lang).nonEmpty){:}</dt>
            <dd>@if(field.description.nonEmpty){
                <div class="fieldDesc">@field.description.get</div>
            }</dd>
            @if(form.isFilled) {
                @field.validate match {
                    case FailureFieldValidation(errors: Seq[pl.pholda.malpompaaligxilo.form.FormError]) => {
                        <dd class="error">
                            @for(e <- errors) {
                                @e match {
                                case RequiredError => {"this field is required"}
                                case NothingSelectedError => {"nothing was selected"}
                                case BadDateFormatError => {"bad date format"}
                                case CustomError(msg) => {@msg(lang)}
                                }
                            }
                        </dd>
                    }
                }
            }
        </dl>
    </label>
    <div class="col-sm-8">
    @pl.pholda.malpompaaligxilo.templates.html.field(field)
    </div>
</div>