@import pl.pholda.malpompaaligxilo.i18n.PoTranslations
@()(implicit form: pl.pholda.malpompaaligxilo.form.FormInstanceJVM[pl.pholda.malpompaaligxilo.examples.i18n.I18nFormSpec], lang: pl.pholda.malpompaaligxilo.i18n.Lang)
@import views.html.field
@import form.specification._
@import views.html.i18n
<!DOCTYPE html>
<html lang="@lang" ng-app="malpompaAligxilo">
    <head>
        <meta charset="UTF-8">
        <title>MalpompaAliĝilo - simple example</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/ui-lightness/jquery-ui.css" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")" />
    </head>
    <body ng-controller="FormCtrl as form">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-date/0.0.8/date.min.js"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/examples-i18n-form-fastopt.js")"></script>
        <script type="text/javascript">
            window.i18n = @po(form.context.translationProvider.asInstanceOf[PoTranslations],lang);
//        $(function(){
//            $('input[type=text].formDate' ).each(function() {
//                $(this).datepicker({
//                    "dateFormat": "yy-mm-dd",
//                    changeMonth: true,
//                    changeYear: true,
//                    minDate: $(this).data("mindate"),
//                    maxDate: $(this).data("maxdate"),
//                    yearRange: $(this).data("yearrange")
//                });
//            });
//        })
        </script>
        @{Html(s"""<script type="text/javascript" src="${routes.Assets.at(s"javascripts/jquery-ui/i18n/datepicker-$lang.js")}"></script>""")}
        <script type="text/javascript">
            pl.pholda.malpompaaligxilo.examples.i18n.I18nFormJS().main();
        </script>
        <div>
            <a href="@routes.SimpleForm.index("en")">english</a> |
            <a href="@routes.SimpleForm.index("eo")">esperanto</a> |
            <a href="@routes.SimpleForm.index("pl")">polski</a>
        </div>
        <form action="@routes.SimpleForm.submit()" method="post" class="form-horizontal">
            <div class="row">
                <h1>@i18n("Personal data:")</h1>
            </div>
            @field(name)
            @field(surname)
            @field(hasMiddleName)
            @field(middleName)
            @field(birthDate)
            @field(age)
            @field(cost)
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="@i18n("send!")" name="send" class="btn btn-default" />
                </div>
            </div>
        </form>
    </body>
</html>