@()(implicit formInstance: pl.pholda.malpompaaligxilo.form.FormInstanceJVM[pl.pholda.malpompaaligxilo.dsl.form.DslFormSpecification], lang: pl.pholda.malpompaaligxilo.i18n.Lang)
<!DOCTYPE html>
<html lang="@lang" ng-app="malpompaAligxilo">
    <head>
        <meta charset="UTF-8">
        <title>MalpompaAliĝilo - example form using DSL</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/ui-lightness/jquery-ui.css" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")" />
    </head>
    <body ng-controller="FormCtrl as form">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-date/0.0.8/date.min.js"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/exampledsl-fastopt.js")"></script>
        <script type="text/javascript">
            pl.pholda.malpompaaligxilo.examples.dsl.Form().main();
        </script>
        <a href="@routes.Main.index("pl")">polski</a> | <a href="@routes.Main.index("en")">english</a>
        {{pstro}}
        @form(formInstance, lang)
    </body>
</html>